<div class="ilBox" >
    <div id="videoplayer" style="align-content: center">
        <video poster="{POSTER_SRC}" width="{VIDEO_WIDTH}" height="{VIDEO_HEIGHT}" controls>
            <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
            <source src="{VIDEO_SRC}.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"' />
            <!-- WebM/VP8 for Firefox4, Opera, and Chrome -->
            <source src="{VIDEO_SRC}.webm" type='video/webm; codecs="vp8, vorbis"' />
            <!-- Ogg/Vorbis for older Firefox and Opera versions -->
            <source src="{VIDEO_SRC}.webm" type='video/ogg; codecs="theora, vorbis"' />
        </video>
    </div>
</div>
